{% load i18n %}
<div class="problem vof_block {{theme}} problems-wrapper">
  <h3 class="vof-header problem-header">{{ display_name }}</h3>
  <div class="problem-progress">{{ problem_progress }}</div>
  {% if show_correctness != 'never'  or indicator_class == 'unanswered' %}
    <div class="status {{ indicator_class }}" id="status_{{ location }}">
  {% else %}
    <div class="status " id="status_{{ location }}">
  {% endif %}
  </div>
    {% if no_mas_intentos or preguntas|length == 0 %}
      <div class="tablagrande noclick" id="vftable2">
    {% else %}
      <div class="tablagrande" id="vftable2">
    {% endif %}
    {% if theme == 'Media' %}
      <div class="dtrow first">
        <div class="dtcell1 first"></div>
        <div class="dtcell3 first">
            {{ texto_verdadero }}
        </div>
        <div class="dtcell2 first">
            {{ texto_falso }}
        </div>
      </div>
      {% for key, value in preguntas %}
                      <div class="dtrow">
                          <div class="dtcell1">{{value.enunciado|safe}}</div>
                          <div class="dtcell3">
                              <div class="opcV opcV{{key}} opcion">
                                <div class="container">
                                  <div class="circle">
                                      <div class="small-circle">
                                      </div>
                                  </div>
                                </div>
                                <input type="radio" class="radiovof" pregunta-id="{{ key }}" name="{{ key }}_{{ location }}" value="verdadero"/>
                            </div>
                          </div>
                          <div class="dtcell2">
                              <div class="opcF opcF{{key}} opcion">
                                <div class="container">
                                  <div class="circle">
                                      <div class="small-circle">
                                      </div>
                                  </div>
                                </div>
                                <input type="radio" class="radiovof" pregunta-id="{{ key }}" name="{{ key }}_{{ location }}" value="falso"/>
                            </div>
                          </div>
                      </div>
                    <!--
                    <p>{{value.enunciado}}</p>
                    {{ texto_verdadero }}<input type="radio" class="radiovof" name="{{ key }}" value="verdadero"/>
                    {{ texto_falso }}<input type="radio" class="radiovof" name="{{ key }}" value="falso"/>
                    -->
      {% endfor %}
    {% else %}
      {% for key, value in preguntas %}
                      <div class="dtrow">
                          <div class="dtcell1">{{value.enunciado|safe}}</div>
                          <div class="dtcell3">
                              <div class="opcV opcV{{key}} opcion">
                              {{ texto_verdadero }}<input type="radio" class="radiovof" pregunta-id="{{ key }}" name="{{ key }}_{{ location }}" value="verdadero"/>
                            </div>
                          </div>
                          <div class="dtcell2">
                              <div class="opcF opcF{{key}} opcion">
                              {{ texto_falso }}<input type="radio" class="radiovof" pregunta-id="{{ key }}" name="{{ key }}_{{ location }}" value="falso"/>
                            </div>
                          </div>
                      </div>
                    <!--
                    <p>{{value.enunciado}}</p>
                    {{ texto_verdadero }}<input type="radio" class="radiovof" name="{{ key }}" value="verdadero"/>
                    {{ texto_falso }}<input type="radio" class="radiovof" name="{{ key }}" value="falso"/>
                    -->
      {% endfor %}
    {% endif %}
    </div>
  <div class="divrespuestas">
      {% for key, value in respuestas.items %}
        {% if value != 'nada'%}
        <input type="hidden" class="lasrespuestas" respuesta-id={{key}} value="{{value}}">
        {% endif %}
      {% endfor %}
  </div>
  <div class="elticket">
    {%if respondido and show_correctness != 'never'%}
      {%if score >= 1%}
        <img src="{{ image_path }}correct-icon.png"/>
      {% elif score <= 0 %}
        <img src="{{ image_path }}incorrect-icon.png"/>
      {% else %}
        <img src="{{ image_path }}partial-icon.png"/>
      {%endif%}
    {% endif%}
  </div>
  <div class="action">
            {% if no_mas_intentos or preguntas|length == 0 %}
              <button class="check Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}" disabled="disabled">
            {% elif is_past_due or not respondido %}
              <button class="check Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}" disabled="disabled">
            {% else %}
              <button class="check Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}">
            {% endif %}
                <span>Enviar</span>
              </button>
              <span id="submission_feedback_{{ location }}" class="submission-feedback">
                {{texto_intentos}}
              </span>
            {% if show_answers == 'Mostrar' and show_correctness != 'never' %}
              <button class="ver_respuesta" data-checking="Cargando..." data-value="Ver Respuesta">
                <span class="icon fa fa-info-circle" aria-hidden="true"></span></br>
                <span>Mostrar<br/>Respuesta</span>
              </button>
            {% elif show_answers == 'Finalizado' and no_mas_intentos and show_correctness != 'never' %}
              <button class="ver_respuesta" data-checking="Cargando..." data-value="Ver Respuesta">
                <span class="icon fa fa-info-circle" aria-hidden="true"></span></br>
                <span>Mostrar<br/>Respuesta</span>
              </button>
            {% elif show_answers == 'Finalizado' and respondido and nro_de_intentos <= 0 and show_correctness != 'never' %}
              <button class="ver_respuesta" data-checking="Cargando..." data-value="Ver Respuesta">
                <span class="icon fa fa-info-circle" aria-hidden="true"></span></br>
                <span>Mostrar<br/>Respuesta</span>
              </button>
            {% endif %}
  </div>
      <div class="notificacion" tabindex="-1">
      </div>
</div>
