<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="display_name">Display Name</label>
        <input class="input setting-input" name="display_name" id="display_name" value="{{display_name}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="texto_verdadero">Texto Verdadero</label>
        <input class="input setting-input" name="texto_verdadero" id="texto_verdadero" value="{{texto_verdadero}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="texto_falso">Texto Falso</label>
        <input class="input setting-input" name="texto_falso" id="texto_falso" value="{{texto_falso}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="texto_header">Texto Header</label>
          <input class="input setting-input" name="texto_header" id="texto_header" value="{{texto_header}}" type="text" />
        </div>
      </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="weight">Peso</label>
        <input class="input setting-input" name="weight" id="weight" value="{{weight}}" type="number" step="1" min="0" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="nro_de_intentos">Nro. de Intentos</label>
        <input class="input setting-input" name="nro_de_intentos" id="nro_de_intentos" value="{{nro_de_intentos}}" type="number" step="1" min="1" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="show_answers">Mostrar Respuestas</label>
        <select class="show_answers" name="show_answers" show-answers-id="{{key}}">
          <option value="Mostrar" {% if show_answers == 'Mostrar' %}selected{% endif %}>
            Mostrar
          </option>
          <option value="Finalizado" {% if show_answers == 'Finalizado' %}selected{% endif %}>
            Finalizado
          </option>
          <option value="Ocultar" {% if show_answers == 'Ocultar' %}selected{% endif %}>
            Ocultar
          </option>
        </select>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="theme">Estilo</label>
        <select class="theme" name="theme">
                  <option value="SumaySigue" {% if theme == 'SumaySigue' %}selected{% endif %}>
                    SumaySigue (Default)
                  </option>
                  <option value="Media" {% if theme == 'Media' %}selected{% endif %}>
                    Media
                  </option>
                  <option value="RedFid" {% if theme == 'RedFid' %}selected{% endif %}>
                    RedFid
                  </option>
                  <option value="SumoPrimero" {% if theme == 'SumoPrimero' %}selected{% endif %}>
                    SumoPrimero
                  </option>
              </select>
    </li>
    <li class="field comp-setting-entry is-set" id="listapreguntas">
      {% for key, value in preguntas %}
        <div class="div-pregunta-{{key}}">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="pregunta">Pregunta</label>
            <input class="input setting-input" name="pregunta" pregunta-id="{{key}}" value="{{value.enunciado}}" type="text" />
          </div>
          <div class="wrapper-comp-setting">
              <label class="label setting-label" for="valor">Valor</label>
              <select name="valor" valor-id="{{key}}">
                {% if value.valor %}
                  <option value="V" selected>Verdadero</option>
                  <option value="F">Falso</option>
                {% else %}
                  <option value="V">Verdadero</option>
                  <option value="F" selected>Falso</option>
                {% endif %}
              </select>
          </div>
          <div class="action-item">
            <a href="#" borrar-id="{{key}}" class="button action-primary borrar-button">Borrar</a>
          </div>
        </div>
      {% endfor %}
  </li>
  </ul>
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">Guardar</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">Cancelar</a>
      </li>
      <li class="action-item">
          <a href="#" class="button add-button">Agregar otra pregunta</a>
      </li>
    </ul>
  </div>
</div>